@import './_minix.scss';//公用方法

// 常用背景
$long-background-color:#fff;
$min-background-color:#333333;
$black-background-color:#000;

// 常用字体大小
$font-size-small:12px;
$font-size-middle:14px;
$font-size-big:16px;
$font-size-large:18px;

// 字体颜色
$font-color-white:#fff;
$font-color-long:#333333;
$font-color-orange:#F2922F;
$font-color-green:#5ADAD0;
$font-color-gray:#999999 ;
